<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>EngrHire BD</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Logo -->
    <link href="/img/logo.png" rel="icon" />



  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />


  <link href="/vendor/aos/aos.css" rel="stylesheet" />
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <link rel="stylesheet" href="/css/engineer_profile.css" />

</head>

<body>

     <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
          <script src="https://unpkg.com/phosphor-icons"></script>
          <div class="logo">
            <h1><a href="/" ><img  src="/img/logo.png" alt="">EngrHire BD</a></h1>
        
          </div>
  
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="/">Home</a></li>
            {{#if user}}
             {{#if isClient}}
                  <li><a class="nav-link scrollto" href="/post-job">Post Jobs</a></li>
    {{/if}}
     {{#if isEngineer}}
                  <li><a class="nav-link scrollto" href="/engineer-post">Post Jobs</a></li>
    {{/if}}
     {{else}}
  <li><a class="nav-link scrollto" href="/post-job">Post Jobs</a></li>
   {{/if}}
                <li class="dropdown">
                <a href="#"><span>Explore</span>
                </a>
              <ul>
                  {{#if user}}
    {{#if isEngineer}}
      <li><a class="nav-link scrollto" href="/job-list/all">Find Job</a></li>
      <li><a class="nav-link scrollto" href="#services">Services</a></li>
    {{/if}}
  
    {{#if isClient}}
      <li><a class="nav-link scrollto" href="/job-list/all">Find Engineers</a></li>
      <li><a class="nav-link scrollto" href="#services">Services</a></li>
    {{/if}}
      {{else}}
       <li><a class="nav-link scrollto" href="/job-list/all">Find Job</a></li>
  <li><a class="nav-link scrollto" href="/job-list/all">Find Engineers</a></li>
      <li><a class="nav-link scrollto" href="#services">Services</a></li>
       {{/if}}
  
  </ul>
  
  
              </li>
  
               <li class="dropdown">
                <a href="#"><span>Help</span>
                
                </a>
                <ul>
                   
                  <li><a class="nav-link scrollto" href="#about">About</a></li>
                  <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                  <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                 
                </ul>
  
              </li>
  
         
  {{#unless user}}
  
  
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/select" class="btn-signup">Sign Up</a></li>
      </ul>
  
  {{/unless}}
  
  
              <div class="search">
                <input type="text" class="search-box" placeholder="Search..." />
                <button class="search-btn"><i
                    class="ph-magnifying-glass-bold"
                  ></i></button>
                <button class="close-btn"><i class="ph-x-bold"></i></button>
              </div>
  
          {{#if isClient}}
    <li>
      <a class="getstarted scrollto" href="/client-profile/{{userId}}/1">
        <img src="{{user.profilePicPath}}" alt="Profile Picture" class="rounded-circle profile-picture" />
        <span class="profile-name">{{user.full_name}}</span>
        
      </a>
    </li>
  
   <span class="material-symbols-outlined">
    <a href="/logout">Logout</a>
  </span>
  
  {{/if}}
  
  {{#if isEngineer}}
    <li>
      <a class="getstarted scrollto" href="/profile/{{userId}}/1">
        <img src="{{user.profilePicPath}}" alt="Profile Picture" class="rounded-circle profile-picture" />
        <span class="profile-name">{{user.full_name}}</span>
      </a>
    </li>
  
     <span class="material-symbols-outlined">
    <a href="/logout">Logout</a>
  </span>
    
  {{/if}}
  
  
  
  
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
  
        </div>
      </header><!-- End Header -->

  <br /><br /><br /><br />


   <div class="sidebar open">
    <div class="logo-details">
      <i class="bx bx-grid-alt icon"></i>
      <div class="logo_name">Dashboard</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      
      <li>
        <a href="/profile/{{userId}}/1">
          <i class="bx bx-user"></i>
          <span class="links_name">My Profile</span>
        </a>
        <span class="tooltip">Profile</span>
      </li>
      <li>
         <a href="/profile/{{userId}}/2">
         <i class="bx bx-credit-card"></i>
          <span class="links_name">Card Info</span>
        </a>
        <span class="tooltip">Card Info</span>
      </li>
      
      <li>
       <a href="/my-bids/{{userId}}">
          <i class="bx bx-dollar"></i>
          <span class="links_name">My Bid’s</span>
        </a>
        <span class="tooltip">My Bid’s</span>
      </li>
     
      <li>
        <a href="/profile/{{userId}}/3">
          <i class="bx bx-heart"></i>
          <span class="links_name">Rating & Reviews</span>
        </a>
        <span class="tooltip">Ratings</span>
      </li>
      
    </ul>
  </div>

 {{#if engineerProfile }}
  <section class="home-section">

    <div class="dcont container">
      <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="profile-container">
                  <img
                    src="{{engineer.profilePicPath}}"
                    alt="Profile Picture"
                    class="profile-image"
                  />

                  <div class="mt-3">
                    <h4>{{engineer.full_name}}</h4>
                    <p class="text-secondary mb-1">{{engineer.designation}}</p>
                    <p class="text-muted font-size-sm">{{engineer.location}}</p>
                     <!-- Add this inside the <p> tag -->
<div class="star-rating" style="font-size: 36px; color: #FFD700;">
  {{engineerRating}}
</div>


                    
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <h6 class="mb-0">Website</h6>
                  <span class="text-secondary">{{engineer.website}}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <h6 class="mb-0">Github</h6>
                  <span class="text-secondary">{{engineer.github}}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <h6 class="mb-0">Twitter</h6>
                  <span class="text-secondary">{{engineer.twitter}}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <h6 class="mb-0">Instagram</h6>
                  <span class="text-secondary">{{engineer.instagram}}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <h6 class="mb-0">Facebook</h6>
                  <span class="text-secondary">{{engineer.facebook}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{engineer.full_name}}
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{engineer.email}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Mobile</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{engineer.mobile}}</div>
                </div>
                
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Field of Expertise</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{engineer.field_of_expertise}}</div>
                </div>
                <hr />

                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Skill</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{engineer.skill}}</div>
                </div>
                <hr />

                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Experience</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{engineer.experience}}
                  </div>
                </div>
                <hr />

                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Education</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{engineer.education}}
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{engineer.address}}
                  </div>
                </div>
                <hr />


                
 
                {{#if isEngineer}}
                
                  {{#if canEdit}}
                 
                    <div class="row">
                      <div class="col-sm-12">
                        <a
                          class="btn btn-info"
                          target="__blank"
                          href="/edit-engineer-profile/{{engineerId}}"
                        >Edit</a>
                      </div>
                    </div>

                  {{/if}}
                {{/if}}

              </div>
            </div>
          </div>
        </div>
      </div>
             </div>
</section>
{{/if}}

{{#if cardInfo}}
 <section class="home-section">
       
        <div class="dcont container">
      <div class="main-body">
      <div class="row gutters-sm">

        <div class="main">
      
                 <div class="aka">
      
        <span class="akalogo">
          <h5 class="akah5">Bank Card</h5>
          <!-- <img src="images/logo.png" alt="" /> -->
          
          <img src="/img/akachip.png" alt="" class="chip" />
        </span>
        
  

      <div class="card-details">
        <div class="name-number">
          <h6 class="akah6">Card Number</h6>
          <h5 class="number akah5">{{engineer.cardNumber}}</h5>
          <h6 class="akah6">Card CCV</h6>
          <h5 class="name akah5">{{engineer.cardCVV}}</h5>
          <h6 class="akah6">Balance</h6>
          <h6 class="akah6">{{engineer.balance }}</h6>
          <h5 class="name akah5">{{engineer.cardHolderName}}</h5>
          
          
        </div>
        <div class="valid-date">
          <h6 class="akah6">Valid Thru</h6>
          <h5 class="akah5"> {{engineer.cardExpMonth}} / {{engineer.cardExpYear}}</h5>
        </div>
      </div>
    </div>

    

        </div>
      </div>
    </div>
        
  </section>

  {{/if}}


{{#if rating}}
  <section class="home-section">
    {{#each works}}
      <div class="dcont container">
        <div class="main-body">
          <div class="row gutters-sm">
            <div class="main">


                 <div class="">





              <section id="ccctestimonials">



                <div class="ccctestimonial-box-container">

                  <div class="ccctestimonial-box">

                    <div class="cccbox-top">

                      <div class="cccprofile">

                        <div class="cccprofile-img">
                          <img
                            src="https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
                            width="250px" />
                        </div>

                        <div class="cccname-user">
                          <strong>{{client.full_name}}</strong>
                          <span>@Email Fatch korbi eikhane</span>
                        </div>
                      </div>

                      <div class="cccreviews">
                        {{generateStarRating this.engineerRating}}
                      </div>
                    </div>

                    <div class="cccclient-comment">
                      <p>
                        {{this.engineerFeedback}}
                      </p>
                    </div>
                  </div>
              </section>

            </div>
            
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </section>
{{/if}}




    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"
    ></script>

    <script src="../bids.js"></script>

    <script>

    </script>


    <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>


  <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");


    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange();
    });

    function menuBtnChange() {
      if (sidebar.classList.contains("open")) {
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else {
        closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    }
  </script>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../bids.js"></script>

    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>


    <script src="/js/main.js"></script>
    <script src="/js/search.js"></script>

  </body>

</html>