<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>EngrHire BD</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Logo -->
  <link href="assets/img/logo.png" rel="icon" />

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/select.css" />

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <script src="https://unpkg.com/phosphor-icons"></script>
      <div class="logo">
        <h1><a href="/"><img src="assets/img/logo.png" alt="" />EngrHire BD</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>


          <li><a class="nav-link scrollto" href="/post-job">Post Jobs</a></li>



          <li class="dropdown">
            <a href="#"><span>Explore</span><i class="bi bi-chevron-down"></i></a>
            <ul>


              <li><a class="nav-link scrollto" href="/#services">Services</a></li>
              <li><a class="nav-link scrollto" href="/engineers">Engineers</a></li>

            </ul>
          </li>

          <li class="dropdown">
            <a href="#"><span>Help</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href="/#about">About</a></li>
              <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
              <li><a class="nav-link scrollto" href="/#faq">FAQ</a></li>
            </ul>
          </li>

          {{#unless user}}
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/select" class="btn-signup">Sign Up</a></li>
          </ul>
          {{/unless}}

          <li class="search-bar">
            <form action="/search" method="GET" onsubmit="return validateSearch()">
              <input type="text" name="query" class="search-input" id="searchInput" placeholder="Search..."
                oninput="toggleSearchButton()" />
              <button type="submit" class="search-button" id="searchButton" disabled><i
                  class="bi bi-search"></i></button>
            </form>
          </li>

          {{#if isClient}}
          <li>
            <a class="getstarted scrollto" href="/client-profile/{{userId}}/1">
              <img src="{{user.profilePicPath}}" alt="Profile Picture" class="rounded-circle profile-picture" />
              <span class="profile-name">{{user.full_name}}</span>
            </a>
          </li>
          <span class="material-symbols-outlined">
            <a href="/logout">Logout</a>
          </span>
          {{/if}}

          {{#if isEngineer}}
          <li>
            <a class="getstarted scrollto" href="/profile/{{userId}}/1">
              <img src="{{user.profilePicPath}}" alt="Profile Picture" class="rounded-circle profile-picture" />
              <span class="profile-name">{{user.full_name}}</span>
            </a>
          </li>
          <span class="material-symbols-outlined">
            <a href="/logout">Logout</a>
          </span>
          {{/if}}

          {{#if isAdmin}}
          <li>
            <a class="getstarted scrollto" href="/admin-dashboard">
              <img src="{{user.profilePicPath}}" alt="Profile Picture" class="rounded-circle profile-picture" />
              <span class="profile-name">{{user.full_name}}</span>
            </a>
          </li>
          <span class="material-symbols-outlined">
            <a href="/logout">Logout</a>
          </span>
          {{/if}}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <h1 class="choice">How would you like to <b>Sign Up</b>?</h1>
  <div class="decider">
    <div class="ch1">
      <br /><br />
      <p class="text_flex">Sign up as a
        <b>Engineer</b>
      </p>
      <p style="padding: 10px;">By signing up as an engineer, users can access
        a variety of
        <b>diverse projects</b>, network with professionals, discover
        <b>job opportunities</b>, develop
        <b>skills</b>, collaborate on
        <b>projects</b>, build a
        <b>portfolio</b>, receive
        <b>feedback</b>
        and access
        <b>exclusive resources</b>.
      </p>

      <a href="/signup">
        <button class="button-30" role="button">Sign Up</button></a>

    </div>
    <div class="ch2">
      <br /><br />
      <p class="text_flex">Sign up as a <b>Client</b></p>
      <p style="padding: 10px;">By signing up as a client, users can
        effortlessly connect with top engineering talents, streamline
        <b>hiring processes</b>
        and access
        <b>exclusive resources</b>
        for successful project execution and
        <b>time-and-cost-effective</b>
        project management.
      </p>
      <a href="/signup2">
        <button class="button-30" role="button">Sign Up</button></a>

    </div>
  </div>

  <script>
    function toggleSearchButton() {
      var searchInput = document.getElementById('searchInput');
      var searchButton = document.getElementById('searchButton');


      searchButton.disabled = searchInput.value.trim() === '';
    }

    function validateSearch() {
      var searchInput = document.getElementById('searchInput');


      return searchInput.value.trim() !== '';
    }


  </script>

  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="assets/js/main.js"></script>

</body>

</html>